:root {
    --background: #E5D3DB;
    --surface: #333333;
    --num-btn-color: #E49EBE;
    --num-btn-sec-color: #890B48;
    --op-btn-color: #F2F2E9;
    --text-color: #141114;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 10rem;
}

button {
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.display {
    width: 100%;
    height: 3rem;
    background-color: var(--surface);
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: right;
    padding: 0.5rem;
    margin-bottom: 5rem;
}